/*=================================================================================================
Project:  Blockus
Version:  1.0.0
Last change:  07/08/2016
Design by:  TemplatesPRO.com.br
---------------------------------------------------------------------------------------------------

INDEX:
01) PRELOADER (36)
02) MODAL (69)
03) NAVBAR - NAVBAR TOGGLE - NAVBAR COLLAPSE (83)
04) SLIDERS (109)
05) HOME (120)
06) FEATURES (145)
07) OVERVIEW (165)
08) GALLERY (188)
09) TESTIMONIALS (200)
10) PRICES (219)
11) TEAM (250)
12) CONTACT (262)
---------------------------------------------------------------------------------------------------

PALLETE:
Main Color:
#8bc34a

Main Color Variables:
#7ab23a
#6fa235
#90c94e
rgba(139, 195, 74, 0.1)
=================================================================================================*/


/*------------------------------------------------------------------------------------------------
 01) PRELOADER
 ------------------------------------------------------------------------------------------------*/
@-webkit-keyframes color-change {
  0% {
    color: #8bc34a;
    background: #333;
  }
  50% {
    color: #333;
    background: #8bc34a;
  }
  100% {
    color: #8bc34a;
    background: #333;
  }
}
        @keyframes color-change {
          0% {
            color: #8bc34a;
            background: #333;
          }
          50% {
            color: #333;
            background: #8bc34a;
          }
          100% {
            color: #8bc34a;
            background: #333;
          }
        }


/*------------------------------------------------------------------------------------------------
 02) MODAL
 ------------------------------------------------------------------------------------------------*/
/* Modal Form (SLIDESHOW)
 ......................................*/
.slideshow-modal .panel-heading { background-color: #8bc34a; }

.slideshow-modal .btn { background-color: #8bc34a; }

/* Modal Info (GALLERY)
 ......................................*/
.gallery-modal .title-info-modal { background-color: #8bc34a; }


/*------------------------------------------------------------------------------------------------
 03) NAVBAR - NAVBAR TOGGLE - NAVBAR COLLAPSE
 ------------------------------------------------------------------------------------------------*/
/* Home
 ......................................*/
@media(min-width:768px) {
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a:hover { color: #8bc34a; }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover { background-color: #8bc34a; }

/* Internal
 ......................................*/
@media(min-width:768px) {
  .top-nav-collapse .navbar-nav>li>a:focus,
  .top-nav-collapse .navbar-nav>li>a:hover { color: #8bc34a; }
}

.top-nav-collapse .navbar-nav>.active>a,
.top-nav-collapse .navbar-nav>.active>a:focus,
.top-nav-collapse .navbar-nav>.active>a:hover { background-color: #8bc34a; }


/*------------------------------------------------------------------------------------------------
 04) SLIDERS
 ------------------------------------------------------------------------------------------------*/
.slide-testimonials-bloquotes .slick-track { background-color: #8bc34a; }

/* Carousel Controls
 ......................................*/
.slick-prev:hover:before,
.slick-next:hover:before { color: #8bc34a; }


/*------------------------------------------------------------------------------------------------
 05) HOME
 ------------------------------------------------------------------------------------------------*/
/* Slideshow - Objects
 .................................................................................*/
.slideshow .btn { border-color: #8bc34a; }
.slideshow .btn:focus,
.slideshow .btn:hover { background-color: #7ab23a; }

.slideshow .btn-fill { background-color: #8bc34a; }

.slideshow .panel-heading { background-color: #8bc34a; }

/* Slideshow - Indicators
 .................................................................................*/
.slideshow .carousel-indicators { background-color: #8bc34a; }

.slideshow .carousel-indicators>li.active { color: #8bc34a; }
.slideshow .carousel-indicators>li.active .indicators-icon>span,
.slideshow .carousel-indicators>li.active:hover .indicators-icon>span {
  border-color: #8bc34a;
  background-color: #8bc34a;
}


/*------------------------------------------------------------------------------------------------
 06) FEATURES
 ------------------------------------------------------------------------------------------------*/
.features .feature-block .wrapper-icon:before { background-color: #8bc34a; }

/* Features - Accordion
 .................................................................................*/
.features label>.wrapper-icon { background-color: #8bc34a; }
.features label:nth-child(1)>.wrapper-icon { background-color: #6fa235; }
.features label:nth-child(2)>.wrapper-icon { background-color: #7ab23a; }
.features label:nth-child(3)>.wrapper-icon { background-color: #8bc34a; }
.features label:nth-child(4)>.wrapper-icon { background-color: #90c94e; }

.features label>.wrapper-description { background-color: #8bc34a; }
.features label:nth-child(1)>.wrapper-description { background-color: #6fa235; }
.features label:nth-child(2)>.wrapper-description { background-color: #7ab23a; }
.features label:nth-child(3)>.wrapper-description { background-color: #8bc34a; }
.features label:nth-child(4)>.wrapper-description { background-color: #90c94e; }


/*------------------------------------------------------------------------------------------------
 07) OVERVIEW
 ------------------------------------------------------------------------------------------------*/
/* Overview - Collapse
 .................................................................................*/
.overview .panel-default>.panel-heading { background-color: #8bc34a; }

/* Overview - Tabs Content
 .................................................................................*/
.overview .overview-tabs>li.active>a { background-color: #8bc34a; }

/* Donuts Chart
 ......................................*/
.overview .overview-chart g path[data-order="0"] { fill:#90c94e; }
.overview .overview-chart g path[data-order="1"] { fill:#8bc34a; }
.overview .overview-chart g path[data-order="2"] { fill:#7ab23a; }
.overview .overview-chart g path[data-order="3"] { fill:#6fa235; }

/* Overview - Newsletter
 .................................................................................*/
.overview .section-footer { background-color: #8bc34a; }


/*------------------------------------------------------------------------------------------------
 08) GALLERY
 ------------------------------------------------------------------------------------------------*/
/* Thumbnail
 ......................................*/
.gallery .link-details { background-color: #8bc34a; }

.gallery .link-modal { background-color: #8bc34a; }

.gallery .thumb-title { background-color: #8bc34a; }


/*------------------------------------------------------------------------------------------------
 09) TESTIMONIALS
 ------------------------------------------------------------------------------------------------*/
/* Testimonials - Testimonials Carousel
 .................................................................................*/
.testimonials .slide-testimonials-bloquotes { background-color: #8bc34a; }

.testimonials blockquote { background-color: #8bc34a; }
.testimonials blockquote:before { border-top-color: #8bc34a; }

/* Testimonials - Thumbs Carousel
 .................................................................................*/
.testimonials .testimonials-company:hover { color: #8bc34a; }

/* Testimonials - Logo Clients
 .................................................................................*/
.testimonials .section-footer { background-color: #8bc34a; }


/*------------------------------------------------------------------------------------------------
 10) PRICES
 ------------------------------------------------------------------------------------------------*/
.prices .panel-popular { background-color: rgba(139, 195, 74, 0.1); }

.prices .plan-price { background-color: #8bc34a; }

.prices .panel-footer .btn {
  border-color: #8bc34a;
  background-color: #8bc34a;
}
.prices .panel-footer .btn:focus,
.prices .panel-footer .btn:hover { background-color: #7ab23a; }

@media (min-width: 768px) {
  .prices .panel:hover {
    border-color: #8bc34a;
    box-shadow: 0 0 0 3px #8bc34a;
  }

  .prices .panel-popular {
    border-color: #8bc34a;
    box-shadow: 0 0 0 1px #8bc34a;
  }
  .prices .panel-popular:hover {
    background-color: rgba(139, 195, 74, 0.1);
    box-shadow: 0 0 0 5px #8bc34a;
  }
}


/*------------------------------------------------------------------------------------------------
 11) TEAM
 ------------------------------------------------------------------------------------------------*/
.team .team-social { background-color: #8bc34a; }

.team .team-name { background-color: #8bc34a; }

/* Progress Bars
 ......................................*/
.team .progress-bar { background-color: #8bc34a; }


/*------------------------------------------------------------------------------------------------
 12) CONTACT
 ------------------------------------------------------------------------------------------------*/
.contact .btn { background-color: #8bc34a; }
.contact .btn:focus,
.contact .btn:hover { background-color: #7ab23a; }

/* Contact - Address
 .................................................................................*/
.contact .vcard a { color: #8bc34a; }

/* Contact - Social Icons
 .................................................................................*/
.social-icons .btn-social { background-color: #8bc34a; }
